<div class="container mt-4">

  <!-- Centered Loading Indicator -->
  <div *ngIf="isLoading" class="loading-overlay">
    <div class="spinner-border text-primary" role="status"></div>
    <span class="loading-text">Loading...</span>
  </div>

  <div [class.blur-content]="isLoading" class="main-content">
    <div class="search-container">
      <!--      <input type="text" class="search-input" [(ngModel)]="searchTerm" placeholder="Search for books..."-->
      <!--             (keyup.enter)="searchBooks()">-->
      <input type="text" class="search-input" [formControl]="searchInput" placeholder="Search for books...">

      <button class="btn btn-primary">Search</button>
    </div>
    <div class="books-grid">
      <div class="card" *ngFor="let book of books">
        <img [src]="book.coverBase64" class="card-img-top" alt="Book Cover">
        <div class="card-body">
          <div class="card-info">
            <span class="label">Title:</span>
            <h5 class="card-title">{{ book.bookTitle }}</h5>
          </div>
          <div class="card-info">
            <span class="label">Author:</span>
            <p class="card-author">{{ book.author }}</p>
          </div>
          <div class="card-info">
            <span class="label">Description:</span>
            <p class="card-text">{{ book.bookDescription }}</p>
          </div>
          <!--        <a href="#" class="btn btn-primary">Read More</a>-->
        </div>
      </div>
    </div>
  </div>

</div>
